<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.app.carscraporder.mapper.TbCommonMailinginfoMapper" >
  <resultMap id="BaseResultMap" type="com.car.app.carscraporder.pojo.TbCommonMailinginfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mailing_address_name" property="mailingAddressName" jdbcType="VARCHAR" />
    <result column="mailing_address_telephone" property="mailingAddressTelephone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="county" property="county" jdbcType="INTEGER" />
    <result column="detailed_address" property="detailedAddress" jdbcType="VARCHAR" />
    <result column="clientid" property="clientid" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="operatortime" property="operatortime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mailing_address_name, mailing_address_telephone, province, city, county, detailed_address, 
    clientid, creater, operator, createtime, operatortime
  </sql>
 
 
  <select id="queryListByWhere"  resultType="com.car.app.carscraporder.bo.TbCommonMailinginfoBO" parameterType="com.car.app.carscraporder.pojo.TbCommonMailinginfo" >
	   select t.*,
	  (select p.province from tb_provinces p where p.provinceid = t.province) provinceName,
	  (select c.city from tb_cities c where c.cityid = t.city) cityName,
	  (select a.area from tb_areas a where a.areaid = t.county) countyName
	   from tb_common_mailinginfo t where 1=1
      
      
        <if test="clientid != null" >
          and  t.clientid = #{clientid}
      </if>
  </select>
 
</mapper>