@charset "utf-8";
/* CSS Document */
*{font-family:"微软雅黑";font-size:14px;}
ul,li{ list-style:none;margin:0;padding:0;}
body.bg{height:100%;background:#FFF url(../img/bg2.png) center bottom fixed no-repeat; background-size:100% 22%;}
.m-t-10{margin-top:10px;}
.m-r-10{margin-right:10px;}
.m-r-20{margin-right:20px;}
.m-b-20{margin-bottom:20px;}
.m-l-15{margin-left:15px;}
.p20{padding:20px;}
.p-tb30{padding:30px 0;}
.redcolor{color:#F00;font-size:0.9em;}

/*------------------------------------------------------------------index-----------------------------------------------------------------*/
/*首页背景*/
.indexbg{position:fixed;width:100%;height:60%;bottom:0; background:url(../img/bg.jpg) center top no-repeat;z-index:1;}
@media screen and (min-width: 1020px) and (max-width: 1600px) and (max-height:769){.indexbg{height:50%;}}



.footer{height:42px; line-height:42px;width:100%;position:fixed; bottom:0;background-color:#114a94;z-index:1001;}
.footer .text{color:#FFF;margin:0 1%;font-size:0.9em;}
/*------------------------------------------------------------------end index-----------------------------------------------------------------*/
/*--------------------------------------左右结构页面---------------------------------------------*/
@media screen and (min-width: 1020px) and (max-width: 1350px){}
.car-process{width:20%;height:90%;position:fixed;right:0;top:150px;padding:0 0 10px;border-left:1px solid #CCC;text-align:center;}/*报废流程图*/
.car-process img{width:300px;}
.leftbox{width:80%;}
.leftbox h1{padding:8% 0 20px;}
@media screen and (min-width: 1020px) and (max-width: 1400px){.car-process img{width:200px;}.leftbox h1{padding-top:18%;}}
/*表格*/
.tablebox {padding:10px 2% 0;}
@media screen and (min-width: 1020px) and (max-width: 1400px){.tablebox table td,.tablebox table th,.tablebox table td span{font-size:0.9em;}}
table.tablelist{min-width:500px;}
table.tablelist tr td{padding:5px;}
@media screen and (max-width: 1024px){table.tablelist{min-width:400px;}}

/*-------表单---------*/
.formbox{margin:0 auto;}
.formbox-right{width:88%;margin-left:12%;}
.searchbox{padding-bottom:30px;}
.form-nav-left{width:10%;height:65%;border-radius:4px; background-color:#F5F5F5;border:1px solid #CCC;position:fixed;z-index:2000; opacity:0.9;}
/*删除图片*/
.del-btn,.nomber{width:30px;height:30px; line-height:28px; display:inline-block;font-size:0.5em;padding:0;border:0; text-align:center;border-radius:50px;position:absolute;top:-10px;right:10px; background-color:#F00;color:#FFF; opacity:0.7;}
.nomber{ opacity:1;font-size:1em;}


/*------------------------------------------------------------------back-stage index-----------------------------------------------------------------*/
.back-stage-top{height:100px;  background:#3a83e6 url(../img/logo.png) 18px 20px no-repeat; padding-left:200px;}
.back-stage-top h1{color:#FFF;padding:0;margin:0; line-height:100px;}
.backnav{margin:0 auto;padding:20px; background-color:#f5f5f5;border-bottom:1px solid #DDD;overflow:hidden;}
.backnav ul{padding:0;margin:0;border:0;}
.backnav ul li{float:left;margin:0 10px;padding:0;}
.backnav ul li a{display:block;border-radius:4px;height:40px; line-height:40px;padding:0 16px;color:#3a83e6;}
.backnav ul li.cur a,.backnav ul li.cur a:hover{ background-color:#3a83e6;font-weight:bold;color:#FFF;}
.backnav ul li:hover a{background-color:#DDD; text-decoration:none;}

.back-index{width:80%;margin:10% auto 0;}
.back-index a.thumbnail .back-indexblock{width:100%;height:100px;border-radius:4px; background-color:#3a83e6;color:#FFF; text-align:center; line-height:100px;

background:-webkit-linear-gradient(#3a83e6,#0f54b3);
            background:-o-linear-gradient(#3a83e6,#0f54b3);
            background:-moz-linear-gradient(#3a83e6,#0f54b3);
            background:linear-gradient(#3a83e6,#0f54b3);}
.back-index a.thumbnail:hover .back-indexblock{transition: all .6s;
background:-webkit-linear-gradient(#3a83e6,#0f3b77);
            background:-o-linear-gradient(#3a83e6,#0f3b77);
            background:-moz-linear-gradient(#3a83e6,#0f3b77);
            background:linear-gradient(#3a83e6,#0f3b77);
}
.back-index a.thumbnail:hover{text-decoration:none;}

.leftbar{position:fixed;width:170px;height:60%;border-radius:4px; background:linear-gradient(#EEE,#F5F5F5)}
.leftbar-nav{padding:20px 0;}
.leftbar-nav li{border-bottom:1px solid #FFF;}
.leftbar-nav li a{display:block;padding:10px 10px 10px 20px;}
.leftbar-nav li a:hover{ background-color:#BBB;color:#FFF; text-decoration:none}
.leftbar-nav li.active a{font-weight:bold;color:#144391; background:url(../img/arrow-right.png) 90% center no-repeat; background-size:6px auto;}
.rightbar{padding:10px 0 0 190px;}

.img-input-box{border:1px dashed #CCC;}
.img-input{position:absolute;display:none;top:0;left:center; opacity:0;width:100%;height:95%;}/*添加图片按钮*/
.img-input:hover{cursor:pointer;}

#add{z-index:3000;}

/*树形列表*/
.treelist{}
.treelist button{font-weight:bold;margin:10px 0 5px;}
.treelist li{margin-left:20px;font-weight:normal;font-size:0.9em;}
#searbtn{
	background: #337ab7;color: #fff;padding: 8px 10px;
}
.btn{
	margin-left: 5px;
} 

